modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mon Bridge Dex"

[[workflows.workflow]]
name = "Mon Bridge Dex"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -l 5000 --no-request-logging"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39297
externalPort = 3000
